# Ignore version control system files
.git*

# Ignore npm package manager files
node_modules/

# Ignore any build output or test files
.build/
.test-results/

# Ignore environment specific files
.env*

# Ignore documentation files
.documentation/

# Ignore IDE specific files (e.g. VS Code settings)
.vscode/